body {
    background-color: rgb(170, 202, 240);
    margin: 0;
    font-family: rubik;
    color: white;
  }
  .container {
    /*background-color: aqua;*/
    display: block;
    padding: 40px;
    /*margin: 0 auto;*/
  }
  h1 {
    margin: 0;
    line-height: 3;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke: 4px #3264b0;
    text-align: center;
    font-size: 160px;
    color: #ffcc01;
  }
  .card {

    margin:auto;
    margin-top: 200;
    margin-bottom:100;
    color:rgb(252, 36, 21);
    box-sizing: border-box;
    height: 320px;
    width: 240px;
    border-radius: 40px;
    list-style: none;
    padding: 40px 10px;
    /*margin-bottom: 100px;*/
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    box-shadow: 15px 15px 5px #03082b44;
    border: 15px solid #3264b0 ;
    transition: 0.4s;
  }
  .card-title {
    color: rgb(252, 36, 21);
    position: relative;
    font-family: 'Sedgwick Ave Display';
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
  }
  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 200px;
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
  }
  .card:hover {
    background-color: #ffcc01;;
    /*opacity: .8;*/
    height: 380px;
    width: 285px;

    /*animation: bounce 0.5s linear;*/
  }
  input {
    position: absolute;
    background-color: rgb(191, 206, 206);
    height: 40px;
    width: 300px;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 25px;
    
  }
  input::placeholder{
    font-size: 25px;
    color:rgb(252, 36, 21);
    z-index: -1;
    text-align: center;
  }
  /*
  @keyframes bounce {
    20% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }*/